import face_recognition
import cv2
import time
import os
import subprocess
from datetime import datetime
import os.path
import urllib
import numpy as np
import imutils
import os
import argparse
import dlib
from imutils import face_utils
import hashlib
import requests
import optparse
